{% extends 'base.html.twig' %}

{% block title %}Create projet {% endblock %}

{% block body %}

    <h1>Submit project</h1>

    {{ include ('pins/_form.html.twig' , {'submitButtonText' : 'Create project'} ) }}


{% endblock %}