{% extends 'base.html.twig' %}

{% block title 'Edit  project #' ~ pin.id %}

{% block body %}

    <h1>Edit  project # {{ pin.id }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Update project user"  >
    {{ form_end(form) }}

{% endblock %}