{% extends 'base.html.twig' %}

{% block title 'Edit  project #' ~ pin.id %}

{% block body %}

    <h1>Edit  project # {{ pin.id }}</h1>

    {{ include ('pins/_form.html.twig' , {'submitButtonText' : 'Edit project'} ) }}

{% endblock %}