@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import 'shared/variable';
@import "~bootstrap";
@import url('https://code.jquery.com/jquery-3.5.1.min.js');


body {
    background-color: lightgray;
    font-family: 'Arvo', serif;

    font-family: $promary-font, sans-serif;

}



.navbar-brand{

    font-family: 'Pacifico', cursive;
}
.btn-block{
    width: 100%;
}
.navbar-nav {
    margin-left: auto;
}

.row {
    margin-left: auto;
}

.alert{
    padding: 10px;
    color: white;
    text-align: center;
}
.alert-success {
    background: green;
}
.alert-error {
    background: red;
}
.alert-info {
    background: darkslategrey;
}
.vich-image {
    .form-check {
        @extend .mt-3;
    }

    img {
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
    }
}

.pin img {
    transition: transform 0.3s ease-out;

    &:hover {
        transform: scale(1.075);
    }
}